@import '../styles/variables.css';

/* Header Container */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  font-family: var(--font-family-primary);
  position: fixed;
  top: 0;
  z-index: 999;
}

/* Left Section (Logo and Tagline) */
.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  height: 54px;
  margin-left: var(--spacing-medium);
  padding-bottom: 0;
}

.logo img {
  padding-top: var(--spacing-medium);
}

.header-center {
  padding-top: var(--spacing-medium);
}

.header-center2 {
  display: none;
}


.header-center2 .text-anim {
  font-weight: 600;
  color: #001b85;
  text-align: center;
  background-image: linear-gradient(90deg, #001b85 0, #27dadb 25%, #0d00ff 50%, #27dadb 75%, #001b85 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: 400s linear infinite text-animation;
}

@keyframes text-animation {
  to {
    background-position: 4500vh
  }
}

.tagline {
  font-size: var(--font-size-base);
  color: var(--grey);
}

.blue_text {
  color: var(--primary-blue);
  font-weight: var(--font-weight-bold);
}


/* Right Section (Navigation Links and Buttons) */
.header-right {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  margin-right: var(--spacing-medium);
}

.nav-links a {
  margin: 0 var(--spacing-small);
  text-decoration: none;
  font-size: var(--font-size-base);
  color: var(--grey);
  font-weight: var(--font-weight-bold);
}

.nav-links a:hover {
  text-decoration: underline;
}

.auth-buttons .btn-login {
  margin-left: var(--spacing-small);
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--font-size-small);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: var(--radius-small);
  color: var(--grey);

}

.jobseeker-login {
  background-color: white;
  border: 0.5px solid #ddd;
  outline: none;
  font-weight: var(--font-weight-bold);
}

.employer-login {
  background-color: var(--highlight-yellow);
  border: none;
  font-weight: var(--font-weight-bold);

}

.jobseeker-login:hover {
  background-color: var(--highlight-yellow);

}

.employer-login:hover {
  background-color: var(--primary-blue-hover);
  color: white;
}

/* Mobile Responsive Styles */
@media (max-width:1200px) {
  .header-center {
    display: none;
  }
  
}

@media (max-width:1024px) {

  .header-center,
  .nav-links {
    display: none;
  }

  .header-center2{
    display: block;
  }
  .auth-buttons{
    display: none;
  }
}


@media (max-width: 768px) {
  

  



  .nav-links {
    display: none;
    /* Hide links by default for mobile */
    flex-direction: column;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
    /* Show when menu is toggled */
  }

  .nav-links a {
    margin: var(--spacing-small) 0;
    text-align: left;
  }

  .menu-toggle {
    display: block;
    background-color: var(--primary-blue);
    color: var(--white);
    padding: var(--spacing-small);
    border: none;
    font-size: var(--font-size-base);
    cursor: pointer;
    border-radius: var(--border-radius);
  }

  
}